/*$backgroundColor: rgba(0,50,200,1);*/
/*$fontColor: white;*/
/*$borderColor: black;*/
/*$borderColor: rgba(180,50,50,1);*/
/*$borderColor: rgba(68,195,64,1);*/
/*$workBorderColor: rgba(95, 213, 104, 1);*/
/*$breakBorderColor: rgba(87, 200, 209,1);*/
/*$borderColor: $backgroundColor;*/
/*$borderBackgroundColor: lightgrey;*/
/*$borderBackgroundColor: $fontColor;*/
/*$pomodoroFontColor : rgba(100,100,100,0.5);*/
/*$containerBorderRadius:5px;*/
/*$centerRadius: 0px;*/
/*$radius: 141px;*/
.stopWatch {
  position: relative;
  /*  width: 242px;
    height: 242px;*/
  /*  width: (-2*$containerBorderRadius) + $diameter;
    height: (-2*$containerBorderRadius) + $diameter;*/
  /*  width: ($containerBorderRadius) + $diameter;
    height: ($containerBorderRadius) + $diameter;*/
  width: 300px;
  height: 300px;
  border: 0px solid #5fd568;
  /*background-color:blue;*/
  border-radius: 50%;
  margin: auto;
  /*  #marker2 {
      transform: rotate(-45deg); 
    }*/ }
  .stopWatch, .stopWatch * {
    box-sizing: content-box;
    padding: 0;
    overflow: hidden; }
  .stopWatch.breakBorderColor {
    border-color: #57c8d1; }
  .stopWatch .marker, .stopWatch .hidder, .stopWatch .marker2 {
    position: absolute;
    top: 0;
    left: 0;
    /*    top:$containerBorderRadius;
        left:$containerBorderRadius;*/
    width: 1px;
    height: 1px;
    /*    width: 0px;
        height: 0px;*/
    background-color: transparent;
    border: 149px solid transparent;
    /*border-color:*/
    border-radius: 50%;
    transform: rotate(-45deg);
    /*    &.mark-top {
          border-top-color: $borderColor;
        }
        &.mark-left {
          border-left-color: $borderColor;
        }
        &.mark-bottom {
          border-bottom-color: $borderColor;
        }
        &.mark-right {
          border-right-color: $borderColor;
        }*/ }
    .stopWatch .marker.mark-top, .stopWatch .hidder.mark-top, .stopWatch .marker2.mark-top {
      border-top-color: inherit; }
    .stopWatch .marker.mark-left, .stopWatch .hidder.mark-left, .stopWatch .marker2.mark-left {
      border-left-color: inherit; }
    .stopWatch .marker.mark-bottom, .stopWatch .hidder.mark-bottom, .stopWatch .marker2.mark-bottom {
      border-bottom-color: inherit; }
    .stopWatch .marker.mark-right, .stopWatch .hidder.mark-right, .stopWatch .marker2.mark-right {
      border-right-color: inherit; }
  .stopWatch .marker {
    border-color: lightgrey;
    /*border-top-color: $borderColor;*/
    /*border-top-color: inherit;*/
    /*transform: rotate(-45deg);*/ }
  .stopWatch .hidder {
    border-top-color: lightgrey;
    transform: rotate(-45deg);
    /*        &.show-top {
              border-top-color: $borderColor;
            }*/ }
  .stopWatch .countdown, .stopWatch .controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    line-height: 300px;
    font-size: 3em;
    /*color: grey;*/
    /*color: rgba(100,100,100,0.5);*/
    color: rgba(100, 100, 100, 0.5);
    text-align: center;
    vertical-align: middle; }
  .stopWatch .controls {
    /*color: black;*/
    color: rgba(100, 100, 100, 0.5);
    box-sizing: border-box;
    padding: 0px 0 0px 0;
    line-height: 100px; }

span.glyphicon, i {
  cursor: pointer; }

span.glyphicon {
  position: static; }

i#notification {
  font-size: inherit; }

.inputWrapper {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /*border: 2px solid $controlsColor;*/
  border: 1px solid rgba(100, 100, 100, 0.5);
  /*padding: $pad 0;*/
  padding: 2px;
  width: 49px;
  height: 49px;
  line-height: 15px;
  font-size: 15px;
  color: inherit;
  margin: auto;
  /*margin: 10px auto (0px - 40px) auto;*/
  /*margin: 0 100px -40px 100px;*/
  /*label {*/
  /*}*/ }
  .inputWrapper.breakDiv {
    background-color: #57c8d1; }
  .inputWrapper.workDiv {
    background-color: #5fd568; }
  .inputWrapper * {
    text-align: center; }
  .inputWrapper input {
    text-align: center;
    width: 90%;
    height: 15px;
    line-height: 15px;
    background-color: inherit;
    /*border: 1px solid white;*/
    border: none; }

input[type=number].noControl {
  -moz-appearance: textfield; }
  input[type=number].noControl::-webkit-inner-spin-button, input[type=number].noControl::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input[type=number].noControl:hover, input[type=number].noControl:focus {
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    /*background-color:black !important;*/ }

html {
  background-color: rgba(100, 100, 100, 0.5);
  color: rgba(100, 100, 100, 0.8);
  /*background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wooden-background.jpg);*/
  /*background-image: url(https://static.pexels.com/photos/82256/pexels-photo-82256.jpeg);*/
  background-size: cover;
  background-position: center center; }

body {
  background-color: transparent;
  text-align: center;
  color: rgba(100, 100, 100, 0.8); }

h1 {
  font-size: 45px;
  /*color: $backgroundColor;*/ }

h2 {
  /*font-size: 150%;*/
  /*color: $backgroundColor;*/
  margin: 0 10%; }

.emphasis, .workEmphasis, .breakEmphasis {
  text-shadow: -1px 0 rgba(100, 100, 100, 0.5), 0 1px rgba(100, 100, 100, 0.5), 1px 0 rgba(100, 100, 100, 0.5), 0 -1px rgba(100, 100, 100, 0.5);
  font-size: 1.2em;
  font-size: 1.4em; }

.workEmphasis {
  color: #5fd568; }

.breakEmphasis {
  color: #57c8d1; }

.clickable {
  cursor: pointer; }

.mainDiv {
  /*display:inline-block;*/
  /*margin:400px auto;*/
  margin-top: 50px;
  /*margin:50px auto 0 auto;*/ }

/*.subDiv {
  padding:20px;
  margin:auto;
  background-color:red;
}*/
footer {
  text-align: center;
  margin-top: 40px; }
  footer a {
    text-decoration: underline;
    color: inherit; }

/*# sourceMappingURL=main.css.map */
