
/*$backgroundColor: rgba(0,50,200,1);*/
$backgroundColor: rgba(100,100,100,0.5);
/*$fontColor: white;*/
$fontColor: $backgroundColor;
$fontColor: rgba(100,100,100,0.8);
$borderBackgroundColor: lightgrey;
$workColor: rgba(95, 213, 104, 1);
$breakColor: rgba(87, 200, 209,1);
@import "stopwatch.scss";
html {
  background-color: $backgroundColor;
  color:$fontColor;
  /*background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wooden-background.jpg);*/
  /*background-image: url(https://static.pexels.com/photos/82256/pexels-photo-82256.jpeg);*/
  background-size: cover;
  background-position: center center;
}
body {
  background-color:transparent;
  text-align: center;
  color:$fontColor;
}
h1 {
  font-size: 45px;
  /*color: $backgroundColor;*/
}
h2 {
  /*font-size: 150%;*/
  /*color: $backgroundColor;*/
  margin: 0 10%;
}
.emphasis {
  text-shadow: -1px 0 $backgroundColor, 0 1px $backgroundColor, 1px 0 $backgroundColor, 0 -1px $backgroundColor;
  font-size: 1.2em;
  font-size: 1.4em;
}
.workEmphasis {
  @extend .emphasis;
  color: $workColor;
}
.breakEmphasis {
  @extend .emphasis;
  color: $breakColor;
}
.clickable {
  cursor: pointer;
}
.mainDiv {
  /*display:inline-block;*/
  /*margin:400px auto;*/
  margin-top: 50px;
  /*margin:50px auto 0 auto;*/
}
/*.subDiv {
  padding:20px;
  margin:auto;
  background-color:red;
}*/
footer {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
    color: inherit;
  }
}