/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-juil.-2016, 22:03:04
    Author     : queni
*/


#stopWatch {
  position:relative;
  #marker, #hidder, #marker2 {
    position:absolute;
    top:0;
    left:0;
    width: 1px;
    height: 1px;
    background-color: transparent;
    border: 120px solid transparent;
    border-radius:50%;
  }
  #marker {
    border-top-color: black;
    transform: rotate(-45deg); /* Standard syntax */
  }
  #marker2 {
    transform: rotate(-45deg); /* Standard syntax */
  }
  #hidder {
    border-top-color: white;
    /*border-top-color: yellow;*/
    transform: rotate(-45deg); /* Standard syntax */
  }
  #countdown {
    position:absolute;
    top:0;
    left:0;
    width: 242px;
    height: 242px;
    line-height: 242px;
    font-size: 4em;
    font: grey;
    text-align: center;
    vertical-align: middle;
  }
}